.wrapper {
  padding: 15px 60px;
}

.pokemon-card {
  margin: 10px 0;
  cursor: pointer;
  box-shadow: 0 0 15px lightgrey;
  background-color: #dadada;
}

.pokemon-card:hover {
  box-shadow: -1px -1px 15px lightgrey;
}

.card-img-top {
  position: relative;
}

.card-img-top:hover {
  transform: scale(1.3, 1.3);
}

.card-title {
  text-align: center;
  font-size: 1rem;
}

.id-number {
  position: absolute;
  padding: 15px 15px;
}
